@import "./app.scss";
.flex {
  display: flex;
  align-items: center;
  gap: 30px;
}
.h-divider {
  width: 1px;
  height: 40px;
  background: $grey-color-900;
}

.search-input {
  background-color: $light-color-900;
  border-radius: 30px;
  width: 390px;
  height: 51px;
  gap: 0px !important;
  padding: 0 10px;
  .search-icon {
    width: 45px;
    height: 45px;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary-color-900;
    img {
      width: 20px;
      height: 20px;
    }
  }
  input {
    padding: 10px 15px;
    color: $dark-color-900;
    flex: 1;
    font-size: 16px;
    &::placeholder {
      color: $grey-color-800;
    }
  }
}
