@import "./app.scss";

%flex-column-centered {
  justify-items: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.header {
  height: 98px;
  background-color: $dark-color-900;
  align-items: center;
  justify-items: space-between;
  color: $light-color-900;
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    div {
      gap: 48px;
    }
    .nav-links {
      gap: 58px;
      div {
        a {
          @extend %flex-column-centered;
        }
      }
      ul {
        gap: 58px;
        li {
          a {
            @extend %flex-column-centered;
          }
        }
      }
    }
  }
}
